# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
DerivedData/
.DS_Store
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Swift
.build/
.swiftpm/

.DS_Store
.git
.gitignore
ImpactAffiliateServiceTest.swift
README.md
TRaVeLiNG-Tools_iOS.xcodeproj
TRaVeLiNG-Tools_iOS
icon-1024-new.png
scripts

# Sensitive Configuration
Config.xcconfig
ImpactConfig.plist
